{% extends 'base.html' %}

{% block title %} Contact {% endblock title %}


{% block body %}
         <div class="slider-area2" style="background-image: url(../../../static/images/hero2.png);">
            <div class="slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap hero-cap2 pt-70 text-center">
                                <h1 class="body-font">تواصل مع</h1>
                                <h5 class="aida-font"> {{ engineer.first_name }} </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <section class="contact-section">
          <div class="container">
                   <div class="row">
                    <div class="col-12">
                        <h2 class="contact-title body-font">شكرا على تواصلك معنا</h2>
                    </div>
                    <div class="col-lg-8">
                        <form class="form-contact contact_form"  method="POST" >
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <textarea class="form-control w-100  aida-font" name="message" id="message" cols="30" rows="9" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Message'" placeholder=" الرساله"></textarea>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input class="form-control valid  aida-font" name="sender_name" id="sender_name" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" placeholder="الأسم" >
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input class="form-control valid  aida-font" name="sender_email" id="sender_email" type="email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" placeholder="البريد الألكترونى" >
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <input class="form-control aida-font" name="title" id="title" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Subject'" placeholder="عنوان الرساله">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mt-6">
                                <button type="submit" id="btn" class="genric-btn btn-primary small body-font">إرسال</button>
                            </div>
                        </form>
                    </div>

                   </div>

          </div>
    </section>
{% block  javascript %}
     <script>
     $(() => {
        $("#btn").on('click' , event => {
            event.preventDefault();
                      $.ajax({
	method:'POST',
	url:'{% url 'contact-engineer' engineer.pk  %}',
	data:{
	  'message' : $("#message").val(),
       'sender_email': $("#sender_email").val(),
        'sender_name': $("#sender_name").val(),
       'title': $("#title").val(),
	'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val()
},
success: function(data) {
	    if (data.data ==  1) {
	        swal({
  title: "تم",
  text: "تم الأرسال بنجاح",
  icon: "success",
  button: "إغلاق",
});
        } else  {
	               swal({
  title: "خطا",
  text: "من فضلك راجع البيانات",
  icon: "error",
  button: "إغلاق",
});
        }
	    },
error : function (error) {
  alert(error.responseText)
}
});

        }) ;
     });
     </script>
    {% endblock javascript %}
{% endblock body %}