{% extends 'base.html' %}

{% block title %}طلب تعاون {% endblock title %}

{% block body %}
     <div class="slider-area2" style="background-image: url(../../../static/images/hero2.png);">
            <div class="slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap hero-cap2 pt-70 text-center">
                                <h2 class="body-font">طلب تعاون</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="service-area pt-150 pb-150">
         <div class="container">
                        <form class="form-contact contact_form"  enctype="multipart/form-data" method="POST">
                           {% csrf_token %}
                                             <div class="row">
                                                 <div class="col-12">
                                    <div class="form-group">
                                        <input class="form-control valid body-font" name="title" id="title" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Title '" placeholder="عنوان الطلب">

                                    </div>
                                </div>
                                                                   <div class="col-sm-9">
                                     <div class="form-select" id="default-select">
												<select name="selected_service">
                                                    {% for service in services %}
                                                        <option value="{{ service.pk }}">{{ service.name }}</option>
									                 {% endfor %}
										          </select>


                                                     </div>
                                                 </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input class="form-control valid" name="username" id="username" type="text" disabled value="{{ user.first_name}} {{ user.last_name }}" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Username'" placeholder="Enter Username">
                                    </div>
                                </div>
                                 <div class="col-sm-6">
                                    <div class="form-group">
                                        <input class="form-control valid" name="picture" id="picture" type="file" onfocus="this.placeholder = ''" onblur="this.placeholder = 'upload a profile picture'" placeholder="صوره للموقع">
                                    </div>
                                </div>

    <div class="col-sm-9">
                                            <div class="form-group">

        <input type="text" name="address" placeholder="Address" onfocus="this.placeholder = ''"
										onblur="this.placeholder = 'العنوان'" required class="single-input" >
                                            </div>
    </div>
                                             <div class="form-group mt-10">
                                <button type="submit" class="genric-btn btn-primary small body-font">إرسال</button>
                            </div>
                                             </div>


                              </form>

         </div>

        </section>


{% endblock body %}