{% extends 'base.html' %}

{% block title %} تمتع بخدماتنا{% endblock title %}

{% block content %}

    <div class="slider-area2" style="background-image: url(../../../static/img/hero2.png);">
        <div class="slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap hero-cap2 pt-70 text-center">
                            <h2 class="body-font">إستطلاع رأى </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="service-area pt-150 pb-150">
        <div class="container">
            <div class="col-12">
                <center><h2 class="contact-title aida-font">نتطلع لمعرفتك أكثر </h2></center>
                <hr/>
                <br>
            </div>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="color_q" class="body-font"> هل انت من مفضلين الألوان المبهجة ام القاتمة؟</label>
                        <select name="plan" id="color_q">
                            <option value="0">لا</option>
                            <option value="1" selected>نعم</option>
                        </select>
                    </div>
                </div>

                </div>
                <hr/>
                <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="design_q" class="body-font"> هل انت من محبين التصميم الحديث العصري؟</label>
                        <select name="plan" id="design_q">
                            <option value="0">لا</option>
                            <option value="1" selected>نعم</option>
                        </select>
                    </div>
                </div>

                </div>
                                <hr/>

<div class="row">
                    <div class="col-12">
                    <div class="form-group">
                        <label for="hotcolor_q" class="body-font"> هل انت من مفضلين الألوان الحارة , مثل : الأحمر , الأصفر؟</label>
                        <select name="plan" id="hotcolor_q">
                            <option value="0">لا</option>
                            <option value="1" selected>نعم</option>
                        </select>
                    </div>
                </div>

</div>
                <hr/>

                <div class="row form-group">
                                    <div class="col-12">
                    <div class="form-group">
                        <label for="personal_q" class="body-font"> هل شخصيتك من الشخصيات متغيرة الاطباع ؟</label>
                        <select name="plan" id="personal_q">
                            <option value="0">لا</option>
                            <option value="1" selected>نعم</option>
                        </select>
                    </div>
                </div>

                </div>
                <hr/>

                <div class="row">
               <div class="col-12">
                    <div class="form-group">
                        <label for="shape_q" class="body-font"> هل انت من مفضلين الأشكال الانسيابية ام المنظمة ؟</label>
                        <select name="plan" id="shape_q">
                            <option value="0">لا</option>
                            <option value="1" selected>نعم</option>
                        </select>
                    </div>
                </div>

                </div>
                <hr/>
<div class="row">
               <div class="col-12">
                    <div class="form-group">
                        <label for="hobby_q" class="body-font">هل انت من محبين التأمل والقراءة؟</label>
                        <select name="plan" id="hobby_q">
                            <option value="0">لا</option>
                            <option value="1" selected>نعم</option>
                        </select>
                    </div>
                </div>

</div>
                <hr/>

                <div class="row form-group">
                                   <div class="col-12">
                    <div class="form-group">
                        <label for="though_q" class="body-font">هل شخصيتك تؤمن بعلم طاقة وتأثيرها على الإنسان؟</label>
                        <select name="plan" id="though_q">
                            <option value="0">لا</option>
                            <option value="1" selected>نعم</option>
                        </select>
                    </div>
                </div>

                </div>
                <hr/>

                <div class="row form-group">
                    <div class="col-6 form-group">
      <label for="address" class="body-font">العنوان</label>
     <input type="text" id="address" class="form-control" placeholder="اكتب العنوان">
                    </div>
                <div class="col-6 form-group">
      <label for="phone" class="body-font">الهاتف</label>
     <input type="text" class="form-control" id="phone" placeholder="اكتب الهاتف">
                    </div>
                </div>
                <hr/>

                <div class="row form-group">
                    <div class="col-12">
                       <label for="name" class="body-font">الأسم</label>
                  <input type="text" class="form-control" id="name" placeholder="اكتب الاسم">
                    </div>
                <hr/>

                    <div class="row form-group">
                                            <div class="col-12">
                    <div class="form-group">
                        <label for="birthday" class="body-font">تاريخ الميلاد</label>
                        <input type="date" id="birthday">
                    </div>
                </div>

                    </div>
                <hr/>


                </div>
                <div class="form-group mt-3">
                    <center>
                        <button type="submit" id="btn" class="btn body-font">إرسال</button>
                    </center>
                </div>
            </form>
        </div>
        <div id="go">
        </div>
    </section>
    {% block javascript %}
        <script>
            $(() => {

                $("#btn").on('click', event => {
                    event.preventDefault();
                    $.ajax({
                        method: 'POST',
                        url: '{% url 'do-survey' %}',
                        data: {
                            'name': $("#name").val(),
                            'address': $("#address").val(),
                            'phone': $("#phone").val(),
                            'personal_q': $("#personal_q").val(),
                            'hobby_q': $("#hobby_q").val(),
                            'design_q': $("#design_q").val(),
                            'color_q': $("#color_q").val(),
                            'hotcolor_q': $("#hotcolor_q").val(),
                            'though_q': $("#though_q").val(),
                            'shape_q': $("#shape_q").val(),
                            'birthday': $("#birthday").val(),
                            'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                        },
                        success: function (data) {
                            $("#go").append(`        <a href="{% url 'choose-request' %}" class="genric-btn btn-primary small body-font"> التالى</a>
`)
                            console.log(data)
                            if (data.data === "1") {
                                swal({
                                    title: "تم",
                                    text: "تم الأرسال بنجاح",
                                    icon: "success",
                                    button: "إغلاق",
                                });

                            } else {
                                swal({
                                    title: "خطا",
                                    text: "من فضلك راجع البيانات",
                                    icon: "error",
                                    button: "إغلاق",
                                });
                            }
                        },
                        error: function (error) {
                            alert(error.responseText)
                        }
                    });

                });
            });

        </script>
    {% endblock javascript %}

{% endblock content %}